[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
scikit-learn = "*"
pandas = "*"
synapseclient = "*"
matplotlib = "*"
torch = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
